.navbar
  width: 100%
  height: 60px
  background: #153E90
  @media (min-width: 1400px)
    height: 100px
    &__item
      height: 100% !important
    &__link
      justify-content: space-evenly !important
    &__icon
      transform: scale(2)
    &__txt
      font-size: 20px !important
    &__menu
      padding: 0 100px !important
  &__nav
    height: 100%
  &__menu
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    padding: 0 25px
    align-items: center
    list-style: none
  &__item
    height: 60%
    display: flex
    justify-content: center
  &__link
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-between
    height: 100%
    text-decoration: none
  &__txt
    font-family: 'Nunito'
    color: #ffff
    font-style: normal
    font-weight: 400
    font-size: 12px
    line-height: 15px
